<header class="py-3">
    <h2 id="" class="text-center">Administraci칩n</h2>
</header>


<main class="container">
    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">A침os de experiencia</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {{#each participantes}}
            <tr class="align-middle">
                <th scope="row">{{id}}</th>
                {{#if foto}}
                <td><img src="/avatars/{{foto}}" alt="Foto de perfil"></td>
                {{else}}
                <td><img src="/avatars/sin_foto.jpeg" alt="Sin foto" width="40px"></td>
                {{/if}}
                <td>{{nombre}}</td>
                <td>{{experiencia}}</td>
                <td>{{especialidad}}</td>
                {{#if estado}}
                <td><input type="checkbox" name="checkbox" checked onclick="cambiarEstado({{id}})">
                </td>
                {{else}}
                <td><input type="checkbox" name="checkbox" onclick="cambiarEstado({{id}})"></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>

{{!--
<script src="/js/admin.js"></script> *corregir vista --}}
<link rel="stylesheet" href="/css/homeStyles.css">

<script>
    document.title = "P치gina administraci칩n";

    const cambiarEstado = async (id) => {
        try {
            const myHeaders = new Headers();
            myHeaders.append("Authorization", `Bearer ${token}`)

            let response = await fetch("/api/v1/participantes/estado?id=" + id, {
                method: "PUT",
                headers: myHeaders
            });
            let data = await response.json();
            alert(data.message)
            location.reload()
            //if (status == 201) {
            //}


        } catch (error) {
            console.log(error)
            alert("Error al intentar cambiar el estado.");
            //location.reload();
        }
    }

</script>