<header class="py-3">
    <h2 class="text-center">Datos del perfil</h2>
    <hr class="mx-auto" style="width: 80%;">
</header>

<main>
    {{#if participante}}
    <div class="container">
        <form id="formUpdate">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="nombre@ejemplo.com" value="{{participante.email}}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            value="{{participante.nombre}}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="password" class="form-label">Nueva password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            value="{{participante.password}}" placeholder="******">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="repeatPassword" class="form-label">Repita la password</label>
                        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword"
                            value="{{participante.password}}" placeholder="******">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="experiencia" class="form-label">Años de experiencia</label>
                        <input type="text" class="form-control" id="experiencia" name="experiencia"
                            value="{{participante.experiencia}}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="especialidad" class="form-label">Especialidad</label>
                        <input type="text" class="form-control" id="especialidad" name="especialidad"
                            value="{{participante.especialidad}}">
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-dark my-1">Actualizar</button> <br>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button type="submit" class="btn btn-danger my-1" onclick="eliminarCuenta({{participante.id}})">Eliminar
                cuenta</button>
        </div>

    </div>
    {{/if}}
</main>

<script src="/js/perfil.js"></script>